<h1 class="text-xl font-bold mb-6">Your Product vs Competition</h1>

<div class="overflow-x-auto bg-white rounded shadow">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-4 py-2 text-left text-sm font-semibold">Product</th>
        <% 8.times do |i| %>
          <th class="px-4 py-2 text-left text-sm font-semibold">Comp <%= i+1 %></th>
        <% end %>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-100">
      <% @products.each do |p| %>
        <% comps = p.competitor_products.order(:id).first(8) %>
        <tr>
          <!--Product cell-->
          <td class="px-4 py-2 font-medium text-green-700">
            <div>
              <%= link_to p.title, product_path(p), class: "hover:underline text-green-700" %>
            </div>
            <div class="text-sm text-gray-600"><%= p.price.present? ? number_to_currency(p.price, unit: '₹') : '-' %></div>
          </td>

          <!-- Competitor-->
          <% 8.times do |i| %>
            <% c = comps[i] %>
            <td class="px-4 py-2 text-sm">
              <% if c %>
                <div class="font-medium">
                  <% if c.asin.present? && (c.platform.blank? || c.platform == "amazon") %>
                    <%= link_to c.name, "https://www.amazon.in/dp/#{c.asin}",
                                target: "_blank", rel: "noopener",
                                class: "hover:underline text-blue-600" %>
                  <% else %>
                    <%= c.name %>
                  <% end %>
                </div>
                  <% if c.amazons_choice %>
                    <span title="Amazon's Choice" class="text-green-600">✔</span>
                  <% end %>
              <!--  <div class="text-gray-600">ASIN: <%= c.asin || '-' %></div> -->
                <!-- Only show latest price -->
                <div>
                  <%= c.latest_price_value.present? ? number_to_currency(c.latest_price_value, unit: '₹') : '-' %>
                </div>
                <div>⭐ <%= c.latest_rating || '-' %></div>
              <% else %>
                -
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

