<div id="<%= dom_id product %>">
  <p>
    <strong>Merchant:</strong>
    <%= product.merchant_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= product.currency %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= product.brand %>
  </p>

  <p>
    <strong>Gtin:</strong>
    <%= product.gtin %>
  </p>

  <p>
    <strong>Mpn:</strong>
    <%= product.mpn %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= product.link %>
  </p>

  <p>
    <strong>Image link:</strong>
    <%= product.image_link %>
  </p>

  <p>
    <strong>Icp:</strong>
    <%= product.icp %>
  </p>

</div>
