<div id="<%= dom_id competitor_product %>">
  <p>
    <strong>Product:</strong>
    <%= competitor_product.product_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= competitor_product.name %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= competitor_product.platform %>
  </p>

  <p>
    <strong>Asin:</strong>
    <%= competitor_product.asin %>
  </p>

  <p>
    <strong>Latest price:</strong>
    <%= competitor_product.latest_price %>
  </p>

  <p>
    <strong>Latest rating:</strong>
    <%= competitor_product.latest_rating %>
  </p>

  <p>
    <strong>Last checked at:</strong>
    <%= competitor_product.last_checked_at %>
  </p>

</div>
