<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Competition Dashboard" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <style>
      body{font-family: system-ui, Roboto, Arial; padding:18px;}
      table{border-collapse:collapse;width:100%}
      th,td{border:1px solid #eee;padding:8px;vertical-align:top}
      th{background:#f7f7f7}
      .notice{background:#ecfdf5;padding:8px;border-radius:6px;margin-bottom:8px}
      .alert{background:#fff1f2;padding:8px;border-radius:6px;margin-bottom:8px}
    </style>
    
    <script src="https://cdn.tailwindcss.com"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 text-gray-800 font-sans">
    <div class="max-w-9xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
      <!-- Navbar -->
      <nav class="flex justify-between items-center py-4 border-b border-gray-200 mb-6">
        <div class="text-2xl font-bold text-green-700">myUpchar Dashboard </div>
        <div class="space-x-6">
          <%= link_to 'Products', products_path, class: "text-gray-700 hover:text-green-700 font-medium" %>
          <%= link_to 'Dashboard', dashboard_path, class: "text-gray-700 hover:text-green-700 font-medium" %>
        </div>
      </nav>

      <% flash.each do |key, message| %>
        <div class="mb-4 p-3 rounded 
          <%= key == 'notice' ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800' %>">
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
